{% extends "base.html" %}
{% block title %}4SiB{% endblock title %}
{% block content %}

<div class="button-container">
  <h2 class="title">4 Salti in Barella Homepage</h2>

  <a href="https://www.instagram.com" class="button-link">
    <button class="button">Instagram</button>
  </a>

  <a href="https://www.telegram.org" class="button-link">
    <button class="button">Telegram</button>
  </a>

  <a href="https://www.facebook.com" class="button-link">
    <button class="button">Facebook</button>
  </a>
</div>

{% endblock content %}
