{% extends "base.html" %}

{% load static %}
{% block title %}4SiB{% endblock title %}
{% block content %}

<div class="button-container">
    <img src="{% static 'images/4sib.webp' %}" alt="4SiB Logo" class="logo">

    <h2 class="title">4 Salti in Barella Homepage</h2>

    <a href="https://t.me/quattrosaltiinbarella" class="button-link">
        <button class="button">Gruppo Telegram</button>
    </a>


    <a href="https://www.instagram.com/4saltiinbarella.official/" class="button-link">
        <button class="button">Instagram</button>
    </a>

    <a href="https://www.facebook.com/4sib.official" class="button-link">
        <button class="button">Facebook</button>
    </a>

    <a href="https://tiktok.com/@4saltiinbarella.official" class="button-link">
        <button class="button">TikTok</button>
    </a>
</div>

{% endblock content %}
