{% extends "base.html" %}

{% load static %}

{% block title %}Regolamento del Gruppo{% endblock title %}
{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="display-4">Regolamento del Gruppo</h1>
  <p class="lead">
    Si richiede un'immagine del profilo per essere riconoscibili; username ed immagini offensivi saranno sanzionati;<br>
    Lo Staff decide con la massima discrezionalità e il suo giudizio è insindacabile;<br>
    Il non rispetto delle regole provoca l'ammonimento e, nel caso il comportamento venga reiterato, il BAN 📛;
  </p>
<div class="bg-dark">
  <ol class="list-group list-group-numbered list-group-flush list-group-dark">
    <li class="list-group-item">VIETATO il FLOOD, cerca di racchiudere un pensiero in un singolo messaggio; evita di inoltrare molti messaggi. Il bot ha delle funzioni anti-flood automatiche;</li>
    <li class="list-group-item">NO immagini/foto/screenshot gore o di natura pornografica;</li>
    <li class="list-group-item">NO offese e bestemmie nei messaggi, nell'immagine del profilo, nel nome utente (salvo un contesto scherzoso e colloquiale reciproco);</li>
    <li class="list-group-item">NO sponsorizzazione diretta di corsi a pagamento; è possibile segnalare e parlare di corsi anche privati senza scadere in mere marchette.</li>
  </ol>
</div>
</div>

{% endblock content %}
